<%- include("partials/header") -%>

<nav>
    <a href="/" class="logo">Todohist</a>
</nav>

<h1 class="PageNotFoundHeading" style="">404</h1>
<h1 class="PageNotFoundTitle" style="">PAGE NOT FOUND.</h1>

<%- include("partials/footer") -%>