<%- include("partials/header") -%>
<nav>
    <a href="/" class="logo">Todohist</a>
    <ul>
        <li class="loginBtn"><a class="loginBtnAnchor" href="/login">LOGIN</a></li>
        <li class="btn"><a href="/signup">SIGNUP</a></li>
    </ul>
</nav>

<div class="container">
    <img class="image" src="/images/to-do-list.png" alt="to-do-list image">
    <h1>Welcome to Todohist.</h1>
    <div class="innerContainer">
        <p><img class = "check" src="/images/check.png" alt="check box"> Organise it all with Todohist.</p>
        <p><img class = "check" src="/images/check.png" alt="check box"> Track your daily tasks.</p>
        <p><img class = "check" src="/images/check.png" alt="check box"> A task manager you can trust for life.</p>
        <p><img class = "check" src="/images/check.png" alt="check box"> Free up your mental space.</p>
    </div>
</div>

<div class="footer">
    <p>© 2021 Bhavik Chotalia</p>
</div>

<%- include("partials/footer") -%>
